* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(150deg,#e86611, #1f1a17  );
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #000000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #ffffff;
}

.login-box h1 {
    color: #FFA500;
    margin-bottom: 30px;
    font-size: 28px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    text-align: left;
    color: #FFA500;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #FFA500;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
}

button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #FFA500;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e69500;
}
