/* Estilo global */
body {
    background-image: url("../imagenes/registro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body cubra toda la altura de la pantalla */
}

/* Estilo para el header */
header {
    background-color: #ff9d00;
    color: white;
    text-align: center;
    padding: 10px;
    height: 50px;
    position: sticky;
    top: 0;
    width: 100%;
}
.title{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    margin: 0px;
    border-radius: 1px solid gray;
    text-align: center;

}

/* Estilo para el footer */
footer {
    background-color: #ff9d00;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: sticky;
    bottom: 0;
}

/* Estilo para el formulario */
main {
    flex: 1; /* El contenido del main ocupará todo el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Registro{
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center; /* Centra el título */
}
form {
    background-color: #ff9d00;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    padding-top: 20px;
    
}

form input {
   /* margin-bottom: 15px;*/
    margin-bottom: 15px;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    
}



button {
    background-color: white;
    color: #ff9d00;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f2f2f2;
}
