/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../imagenes/foodiesfeed.com_glass-of-ice-tea.jpg");
    background-attachment: fixed;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo para el header */
header {
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 20px;
    top: 0;
    width: 100%;
}
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 10px;
}
.title{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    margin: 0px;
    border-radius: 1px solid gray;
    text-align: center;

}



/* Estilo para el formulario */
main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    padding: 20px;
    
    margin: auto;
}

.Registro{
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center; /* Centra el título */
}
form {
    background-color: #888;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    padding-top: 20px;
    
}

form input {
   /* margin-bottom: 15px;*/
    margin-bottom: 15px;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    border-color: #000000;
    border: 1px solid black;
    
}



button {
    background-color: white;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f2f2f2;
}

.main-footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    flex-shrink: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.footer-section {
    flex: 1;
    min-width: 150px;
    margin: 10px 0;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
}

.footer-section li {
    margin: 5px 0;
}

.footer-copyright {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #444;
}

/* Media queries se mantienen igual */


